<!DOCTYPE html>

        <meta charset="utf-8">
<html>
    <head>
        <title>Terminal Documentação API</title>
        <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
        <link rel="stylesheet" media="screen" href="/public/stylesheets/main.css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        	</head>
	
	<div class="navbar">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
					<h4 class="brand"><a href="#">Documentação API Terminal TSE</a></h4>
					<!-- navigation -->
				</div>
				
			</div>
		</div>
	</div>
    <body>

<div class="container demo">

    
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
    	<div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="post">POST</i>
                        /finalizarVotacaoAtual
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                      Obtém o status da votação atual na urna (finalizado)
                      <br>
                      Parâmetro (String status, String ipUrna)                      
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <i class="post">GET</i>
                        /confirmarVotacaoAtual
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                      Verifica se a votação atual já foi finalizada
                      <br>
                      Parâmetro (String ipTerminal)
                      <br>
                      Retorna como parâmetro um boolean (true ou false)                      
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        <i class="post">POST</i>
                        /tempoParaUrna
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                      Obtém o id do voto atual da urna (codigo da Urna)
                      <br>
                      Parâmetro (Long codUrna, ipTerminal)                      
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFor">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFor" aria-expanded="false" aria-controls="collapseFor">
                        <i class="post">GET</i>
                        /addTempo
                    </a>
                </h4>
            </div>
            <div id="collapseFor" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFor">
                <div class="panel-body">
                    Verifica se a urna solicitou tempo
                    <br>
                    Parâmetro (String ipUrna)
                    <br>
                    Retorna como parâmetro um boolean (true ou false)
                </div>
            </div>
        </div>

    </div><!-- panel-group -->
    
    
</div><!-- container -->

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        </body>
</html>